language: python
sudo: false
python:
  - 3.4
  - 3.5
  - nightly

install:
  - pip install --upgrade setuptools
  - pip install codecov
  - pip install -Ur requirements-dev.txt
  - pip install -e .

script:
  - make cov
  - python setup.py check -rm
  - if python -c "import sys; sys.exit(sys.version_info < (3,5))"; then
        python setup.py check -s;
    fi
after_success:
  codecov

env:
  matrix:
    - PYTHONASYNCIODEBUG=x
    - PYTHONASYNCIODEBUG=

deploy:
  provider: pypi
  user: andrew.svetlov
  password:
    secure: KGaow4ouwd0qZW+oiqdFvCCXZRhR20iLJMpQUpSWFjJIRtKY0U6cJHK8pwVpzF5E4D5iQJj6z5i80SZ6OPZ5YiJY1hDgr81yOXOqFCsv9gws7AHawlJ84QE8AA6sXwe/CF35aBlohHrxyvLx9I9ETslt4yajr+AqPoGBZbYqkFU=
  distributions: "sdist bdist_wheel"
  on:
    tags: true
    all_branches: true
    python: 3.5
