language: python
sudo: false
python:
- 3.5
- 3.6

install:
- pip install -U setuptools
- pip install -Ur requirements-dev.txt
- pip install -e .
- pip install -U uvloop

script:
- make cov
after_success:
- bash <(curl -s https://codecov.io/bash)

deploy:
  provider: pypi
  user: andrew.svetlov
  password:
    secure: KGaow4ouwd0qZW+oiqdFvCCXZRhR20iLJMpQUpSWFjJIRtKY0U6cJHK8pwVpzF5E4D5iQJj6z5i80SZ6OPZ5YiJY1hDgr81yOXOqFCsv9gws7AHawlJ84QE8AA6sXwe/CF35aBlohHrxyvLx9I9ETslt4yajr+AqPoGBZbYqkFU=
  distributions: "sdist bdist_wheel"
  on:
    tags: true
    all_branches: true
    python: 3.5
