aiohttp==3.7.4.post0
aiohttp-jinja2==1.4.2
aiohttp-mako==0.4.0
attrs==20.3.0
coverage==5.5
docutils==0.17.1
flake8==3.9.1
multidict==5.1.0
pygments==2.8.1
pytest==6.2.3
pytest-aiohttp==0.3.0
pytest-cov==2.11.1
pytest-sugar==0.9.2
pytest-timeout==1.3.3
yarl==1.3.0
-e .
