ipdb==0.11
pytest==3.5.0
pytest-cov==2.5.1
coverage==4.5.1
flake8==3.5.0
aiohttp==3.1.2
aiohttp-jinja2==0.17.0
aiohttp-mako==0.3.0
docutils==0.14
pygments==2.2.0
yarl==1.1.1
multidict==4.1.0
pytest-aiohttp==0.3.0
pytest-sugar==0.9.1
pytest-timeout==1.2.1
-e .
