-e .

aiohttp==3.11.14
aiohttp-jinja2==1.6
aioredis==2.0.1
coverage==7.7.0
docutils==0.21.2
jinja2==3.1.6
multidict==6.2.0
pygments==2.19.1
pytest==8.3.5
pytest-aiohttp==1.1.0
pytest-cov==6.0.0
pytest-sugar==1.0.0
pytest-timeout==2.3.1
yarl==1.18.3
