aiohttp==3.7.3
aiohttp-jinja2==1.4.2
aiohttp-mako==0.4.0
attrs==20.3.0
coverage==5.3
docutils==0.16
flake8==3.8.4
multidict==5.1.0
pygments==2.7.3
pytest==6.2.0
pytest-aiohttp==0.3.0
pytest-cov==2.10.1
pytest-sugar==0.9.4
pytest-timeout==1.4.2
yarl==1.6.3
-e .
