<table class="table table-striped">
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in settings %}
            <tr class="{{ loop.index%2 and 'pDebugEven' or 'pDebugOdd' }}">
                <td>{{ key }}</td>
                <td>{{ value|e }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
