
#pDebug #pDebugToolbarHandle {
	position:fixed;
	border:2px solid #e28d29;
	top: 25%;
	right:0;
	z-index:100000000;

	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}


#pDebug a#pShowToolBarButton {
	display:block;
	height:40px;
	width:50px;
	border-right:none;
	border-bottom:1px solid #fff;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	color:#fff;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	text-indent:-999999px;
	background-color:#fff;
	background-size:40px 40px;
	background-image:url(../img/aiohttp.svg);
	background-position: left center;
	background-repeat: no-repeat;
	opacity:0.8;
	filter:alpha(opacity=80);

	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

#pDebug a#pShowToolBarButton:hover {
	background-color:#fff;
	border-top-color:#fff;
	border-left-color:#fff;
	border-bottom-color:#fff;

	border-right:5px solid #ffc17a;
	opacity:1.0;

	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

