<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <script data-main="/static/main.js" src="/static/require-1.0.6.js"></script>
  </head>
  <body>
  <h1>{{ title }}</h1>
  <ul>
    <li><a href="{{ app.router['redirect'].url_for() }}">Redirect example</a></li>
    <li><a href="{{ app.router['exception'].url_for() }}">Exception example</a></li>
    <li><a href="#'].url()}">High-order characters in URL example</a></li>
    <li><a href="{{ app.router['ajax'].url_for() }}">AJAX example</a></li>
    <li><a href="{{ app.router['jinja2_exception'].url_for() }}">Jinja2 Exception example</a></li>
    {% if aiohttp_mako %}
    <li><a href="{{ app.router['mako_exception'].url_for() }}">Mako Exception example</a></li>
    {% else %}
    <li>aiohttp_mako is not available, please install it by <code>
      <pre>$ pip install aiohttp_mako</pre>
    </code> to see how mako exception handling works.
    </li>
    {% endif %}
  </ul>
  </body>
</html>
